
@model SimpleBlog.Models.ViewModel.EditProfileViewModel;

<div class="container mt-5" style="max-width: 600px;">
    <h2 class="mb-4">Edit Profile</h2>

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    }

    <form asp-action="UpdateProfile" method="post">
        @Html.AntiForgeryToken()

        <div class="mb-3">
            <label asp-for="UserName" class="form-label">Username</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary w-100">Save Changes</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
